<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISayHiService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISayHiService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_ISayHiService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/HelloService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISayHiService" contract="SayHiServiceReference.ISayHiService"
                name="BasicHttpBinding_ISayHiService" />
            <endpoint address="net.tcp://localhost:8090/HelloService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISayHiService" contract="SayHiServiceReference.ISayHiService"
                name="NetTcpBinding_ISayHiService">
                <identity>
                    <userPrincipalName value="DESKTOP-45U2IQS\ISSAM" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/mex" binding="wsHttpBinding"
                bindingConfiguration="MetadataExchangeHttpBinding_ISayHiService"
                contract="SayHiServiceReference.ISayHiService" name="MetadataExchangeHttpBinding_ISayHiService" />
        </client>
    </system.serviceModel>
</configuration>